In [1]:
from math import pi
import pandas as pd
import numpy as np
from rich import print

def display_pretty(df):
    # visualize using tabulate for ipython noteboooks
    from IPython.display import display

    # Assuming df is your DataFrame
    with pd.option_context("display.max_rows", None, "display.max_columns", None):
        display(
            df
        )



# Example usage
data = {
    'model_name': ['john', 'john'],
    'dataset_name': ['cifar100', 'clevr'],
    'cifar100_loss': [0.1, np.nan],
    'cifar100_acc': [99, np.nan],
    'clevr_acc': [np.nan, 89]
}

df = pd.DataFrame(data)
display_pretty(df)
merged_df = df.groupby('model_name').first().reset_index()
# remove dataset_name column
merged_df = merged_df.drop(columns=['dataset_name'])
print("Merged DataFrame:")
print(f"PRINT SOMETHING HERE")
display_pretty(merged_df)

  model_name dataset_name  cifar100_loss  cifar100_acc  clevr_acc
0       john     cifar100            0.1          99.0        NaN
1       john        clevr            NaN           NaN       89.0

Merged DataFrame:

PRINT SOMETHING HERE

  model_name  cifar100_loss  cifar100_acc  clevr_acc
0       john            0.1          99.0       89.0